# Supabase
SUPABASE_URL=https://hccumfazhtocuntmuuyw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjY3VtZmF6aHRvY3VudG11dXl3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5NTY3MjcsImV4cCI6MjA5NDUzMjcyN30.qxmvfM93o_VCrzzpINaQ3LSRHdDsyhKDuoax5ZXEnLw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjY3VtZmF6aHRvY3VudG11dXl3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODk1NjcyNywiZXhwIjoyMDk0NTMyNzI3fQ.vIeFx8FucTIzbym3YR61S93f7DkLyPICXvhwsKZHFQ4
SUPABASE_JWT_SECRET=ok6rVNhB7c8G8IQyRurvJmWeNEF34EoqS2sUlGlHw7l8sYMi+E6jrIU1YNl0c+54z4RwbY/Yp3GsH8/KHKblBw==

# Redis
REDIS_URL=redis://localhost:6379/0

# Cloudinary
CLOUDINARY_CLOUD_NAME=dkazbyl4x
CLOUDINARY_API_KEY=827338343381664
CLOUDINARY_API_SECRET=N-HtahlmP_oZz6RU68bsKWNiuvM

# SMS
TERMII_API_KEY=your_termii_api_key
AFRICAS_TALKING_USERNAME=your_at_username
AFRICAS_TALKING_API_KEY=your_at_api_key

# SMTP
SMTP_HOST=smtp.koolvix.com
SMTP_PORT=587
SMTP_USER=nnaemekadidigwu@koolvix.com
SMTP_PASSWORD=your_password
EMAILS_FROM_EMAIL=info@khgafrica.org
