fastapi
uvicorn
supabase<2.5.0
storage3<0.9.0
httpx<0.26.0
gotrue<2.6.0
postgrest<0.11.0
python-dotenv
sqlalchemy
psycopg2-binary
alembic
redis
celery
pandas
numpy
scikit-learn
python-jose
python-multipart
cloudinary
pydantic-settings
websockets
passlib
cryptography
pydantic
jinja2
email-validator
